django
celery
django-celery-beat
django-celery-results
gunicorn
redis
numpy
pandas
scikit-learn
torch==2.7.0+cu118
torchvision==0.22.0+cu118
torchaudio==2.7.0+cu118
timm
biopython
PyYAML
python-box
accelerate
torchmetrics
tqdm
fair-esm
transformers
huggingface-hub
esm 
cosine-warmup 